.login-page-container {
  @apply flex items-center justify-center overflow-hidden bg-blue-500;
  width: 100vw;
  height: 100vh;

  .login-page-grid {
    @apply flex flex-col;

    .login-card-container {
      @apply flex flex-col justify-end;

      .login-card {
        @apply bg-blue-300 align-bottom;
        max-height: 320px;

        .login-buttons-bar {
          @apply grid gap-2;
          grid-template-columns: repeat(2, auto);
        }
        .reset-pass-btn {
          @apply text-tertiary-900 my-2 mx-2 font-bold;
        }
      }
    }

    .logo-container {
      @apply flex items-center justify-center;
    }
  }
}
