.req-donation-page-container {
    @apply flex items-center justify-center overflow-auto bg-white text-center;
    width: 100vw;

    .req-donation-card {
      .error-message{
        color: red;
      }

      @apply bg-blue-300;
      .sign-up-form {
        .input-columns{
          @apply grid auto-cols-min justify-end;
          .select-size{
            @apply  h-10 w-36 pl-1 justify-end;
          }
          .text-size{
            @apply flex justify-start p-3 justify-start;
          }
          grid-template-columns: 1fr auto
      
        }
      
        .login-btn {
          @apply p-2;
          color: blue;
        }
      }
    }
}