.sign-up-page-container {
  @apply flex items-center justify-center overflow-hidden bg-blue-500;
  width: 100vw;
  height: 100vh;

  .sign-up-card {
    @apply bg-blue-300;
    .sign-up-form {
      .login-btn {
        @apply p-2;
        color: blue;
      }
    }
  }
}
